module.exports = function (config) {
  config.set({
    // ...
    <TEX>\bfs</TEX>customLaunchers: {
      ChromeHeadlessNoSandbox: {
        base: 'ChromeHeadless',
        flags: ['--no-sandbox'],
      },
    },<TEX>\bfe</TEX>
  });
};
